doctype html
include head.pug
body
  include menu_login.pug
  .container-fluid.theme-showcase(role='main')
    .row
      .col-md-12.col-xs-12
        h2 MyBox
        table.table.table-hover
          thead
            tr
              th
                | Video Title
              th
                | Language
              th
                | Progress
              th
                | Menu
          tbody
            each video in videolist
              tr
                td 
                  a(href='/play/'+video._id) #{video.videoTitle}
                td
                  | #{video.videoCaptionLangCode}
                td
                  | #{video.currentIndex}/#{video.caption.length}
                td
                  a#delete(href='/delete/'+video._id,onclick="return confirm('Are you sure?')") delete



  script.
    function getVideoCaption(youtubeVideoId, callback)
    {
        //get video caption language list
        var url_lang = "/get/lang/"+youtubeVideoId;
        console.log(url_lang);
        $.getJSON( url_lang, function( caption ) {
          callback(caption);
        });
  
    }
    function getVideoInfo(youtubeVideoId,callback)
    {
        //get video info
        var url_vinfo = "/get/videoInfo/"+youtubeVideoId;
        //console.log(url_vinfo);
        $.getJSON( url_vinfo, function( vInfo ) {
          callback(vInfo)
        });    
    }
  
    $(document).ready(function(){
      $('#youtubeurl').on('paste',function(){
        setTimeout(function () {
        var youtubeVideoId = $('#youtubeurl').val().split("v=")[1]
        console.log(youtubeVideoId);
        getVideoInfo(youtubeVideoId,function(vInfo){
          console.log(vInfo);
          var title = vInfo.items[0].snippet.title;
          var description = vInfo.items[0].snippet.description;
          var thumbnailUrl = vInfo.items[0].snippet.thumbnails.default.url
          var thumbWidth = vInfo.items[0].snippet.thumbnails.default.width
          var thumbHeight = vInfo.items[0].snippet.thumbnails.default.height;
          var defaultAudioLanguage = vInfo.items[0].snippet.defaultAudioLanguage;
          $('#VideoInfo').html(`<img src='${thumbnailUrl}' width=${thumbWidth} height=${thumbHeight}><span>${title}</span>`);

          getVideoCaption(youtubeVideoId,function(caption){
            console.log(JSON.stringify(caption));
            var htmlstr = '';
            for(var i=0; i<caption.length;i++)
            {
              if(defaultAudioLanguage==caption[i][0]){
                htmlstr=htmlstr+`<option value="${caption[i][0]}" selected>${caption[i][1]}</option>`
              }
              else
              {
                htmlstr=htmlstr+`<option value="${caption[i][0]}">${caption[i][1]}</option>`
              }
            }
            $('#VideoCaptions').html(`<select class='language' name='lang'>${htmlstr}</select>`)
  
          });          
        });

        $('#youtubeID').val(youtubeVideoId);
        }, 100);
      });

    $('#youtubeurl').keypress(function (e) {
    var key = e.which;
    //console.log(e)
    if(key == 13)  // the enter key code
    {
    $('#youtubeurl').click();
    }
    });
    })
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100905207-1', 'auto');
    ga('send', 'pageview');
